.DS_Store
/.build
/Packages
dist/
release/
*.dmg
*.app
*.xcarchive
*.xcresult
*.cswf
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.netrc
